@use "../base/variables" as v;
@use "../base/mixins" as m;

#body-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(v.$blanco, v.$gris);
  overflow-x: hidden;
}
#body-cards::before {
  @include m.desktop {
    width: 50%;
    height: 100%;
    clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
  }
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 44%);
  background: v.$azul;
}
.bubble {
  @include m.desktop {
    right: 10rem;
    bottom: auto;
    left: auto;
  }
  position: absolute;
  width: 25rem;
  height: 25rem;
  bottom: 5rem;
  left: 10%;
  box-shadow: inset 1rem 1rem 1rem rgba(0, 0, 0, 0.05),
    1.5rem 2.5rem 1rem rgba(0, 0, 0, 0.05), 1.5rem 2rem 2rem rgba(0, 0, 0, 0.05),
    inset -1rem -1rem 1.5rem rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  backdrop-filter: blur(0.5rem);
}
.bubble:nth-child(2) {
  @include m.desktop {
    top: 5rem;
    right: 20rem;
    left: auto;
    bottom: auto;
  }
  width: 20rem;
  height: 20rem;
  left: 10%;
  bottom: 40%;
}
.bubble:nth-child(3) {
  @include m.desktop {
    bottom: 5rem;
    right: 40rem;
  }
  width: 15rem;
  height: 15rem;
  bottom: 40%;
  left: 80%;
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  flex-wrap: wrap;
  padding: 4rem 0;
}
.card {
  @include m.desktop {
    width: 32rem !important;
    height: 44rem;
  }
  position: relative;
  width: 25rem !important;
  height: 38rem;
  // box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05),
  //   inset -0.5rem -0.5rem 0.5rem rgba(255, 255, 255, 0.5),
  //   0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05),
  //   -0.5rem -0.5rem 0.5rem rgba(0, 0, 0, 0.05) !important;
  border: 0.1rem solid rgba(0, 0, 0, 0.198);
  border-radius: 1.5rem !important;
  margin: 3rem !important;
  backdrop-filter: blur(0.3rem) !important;
  // background: rgba(255, 255, 255, 0.809) !important;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
}
.content h2 {
  position: absolute;
  top: -1rem;
  right: 3rem;
  font-size: 12rem;
  color: rgba(0, 0, 0, 0.02);
  transition: 0.5s;
  pointer-events: none;
}
.card:hover h2 {
  color: rgba(0, 0, 0, 0.05);
}
