@use "../base/variables" as v;
@use "../base/mixins" as m;

.caja-contacto {
  @include m.desktop {
    background: v.$azul;
    padding: 0;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100% !important;
  min-height: 100vh;
  background: linear-gradient(v.$degradado, v.$blanco);
  padding: 5rem 0;
  &::before {
    @include m.desktop {
      width: 65%;
      height: 100%;
      background: linear-gradient(v.$degradado, v.$blanco);
      clip-path: none;
    }
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: v.$azul;
    clip-path: polygon(0 27%, 100% 0%, 100% 78%, 0% 100%);
  }
  .container {
    @include m.desktop {
      flex-direction: row;
      box-shadow: none;
    }
    @include m.desktopXL {
      min-width: 110rem;
    }
    position: relative;
    width: 90% !important;
    // min-width: auto;
    min-height: 55rem;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
    padding: 0;
    .contactInfo {
      @include m.tablet {
        flex-direction: row;
      }
      @include m.desktop {
        width: 35rem;
        height: 55rem;
        flex-direction: column;
      }
      @include m.desktopXL {
        position: absolute;
        top: 4rem;
        height: calc(100% - 8rem);
        box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.15);
      }
      position: relative;
      top: 0;
      width: 100%;
      height: auto;
      background: v.$azul;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-evenly;
      box-shadow: none;
      z-index: 1;
      color: v.$blanco;
      border-radius: 1rem;
      h2 {
        font-size: 2.4rem;
        font-weight: 500;
      }
      .info {
        position: relative;
        margin: 2rem 0;
        li {
          position: relative;
          list-style: none;
          display: flex;
          margin: 2rem 0;
          cursor: pointer;
          align-items: flex-start;
          span:nth-child(1) {
            width: 3rem;
            min-width: 3rem;
            img {
              width: 100%;
              filter: invert(1);
            }
          }
          span:nth-child(2) {
            margin-left: 1.5rem;
            font-weight: 300;
          }
        }
      }
      .sci {
        @include m.tablet {
          flex-direction: column;
          justify-content: space-evenly;
        }
        @include m.desktop {
          flex-direction: row;
          justify-content: start;
        }
        position: relative;
        display: flex;
        // align-items: center;
        // justify-content: center;
        li {
          list-style: none;
          margin-right: 2rem;
          a {
            text-decoration: none;
            img {
              filter: invert(1);
              transition: 0.5s;
              &:hover {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
    .contactForm {
      @include m.desktop {
        width: calc(100% - 35rem);
        height: 55rem;
      }
      @include m.desktopXL {
        position: absolute;
        width: calc(100% - 15rem);
        height: 100%;
        padding: 7rem 5rem;
        padding-left: 25rem;
        margin-left: 15rem;
      }
      position: relative;
      padding-left: 0;
      padding: 4rem;
      margin-left: 0;
      width: 100%;
      height: auto;
      background: v.$blanco;
      box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.25);
      color: v.$azul;
      border-radius: 1rem;
      h2 {
        font-size: 2.4rem;
        font-weight: 500;
      }
      .formBox {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 3rem;
        .inputBox {
          position: relative;
          margin-bottom: 3.5rem;
          &.w50 {
            @include m.tablet {
              width: 47%;
            }
            width: 100%;
          }
          &.w100 {
            width: 100%;
          }
          input,
          textarea {
            width: 100%;
            resize: none;
            padding: 0.5rem 0;
            font-size: 1.8rem;
            font-weight: 300;
            border: none;
            outline: none;
            border-bottom: 1px solid v.$azul;
            &:focus ~ span,
            &:valid ~ span {
              transform: translateY(-2rem);
              font-size: 1.2rem;
              font-weight: 600;
              letter-spacing: 0.1rem;
              color: v.$celeste;
            }
          }
          textarea {
            height: 12rem;
          }
          span {
            position: absolute;
            left: 0;
            padding: 0.5rem 0;
            pointer-events: none;
            font-size: 1.8rem;
            font-weight: 300;
            transition: 0.3s;
          }
          input[type="submit"] {
            position: relative;
            cursor: pointer;
            background: v.$azul;
            color: v.$blanco;
            border: none;
            max-width: 15rem;
            border-radius: 1rem;
            transition: 0.3s;
            &:hover {
              background: v.$celeste;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
